
.percentage-table {
    max-width: 100%;
    overflow-x: auto;
}
.percentage-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.percentage-table td {
    padding: 8px 0px;
    font-size: 0.9em;
    color:rgb(0, 0, 0);
}
.first-column {
    width: 120px; /* 固定宽度 */
    white-space: nowrap; /* 防止文本换行 */
}
.second-column {
    width: 50px;
    white-space: nowrap;
}
.table-container {
    max-width: 100%;
    overflow-x: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.resource-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.resource-table thead {
    background:rgb(193, 219, 248);;
    color: black;
}
.resource-table th {
    padding: 12px 20px;
    text-align: middle;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.03em;
}
.resource-table tbody tr {
    border-bottom: 1px solid #e5e7eb;
    transition: background-color 0.2s;
}
.resource-table tbody tr:nth-child(even) {
    background-color: #f8fafc;
}
.resource-table tbody tr:hover {
    background-color: #f1f5f9;
}
.resource-table td {
    padding: 12px 20px;
    text-align: center;
    justify-content: center;
    font-size: 0.83em;
    color: #374151;
}
.resource-table tbody tr:last-child {
    border-bottom: none;
}

.link-divider {
    display: inline-flex;
    align-items: center;
}
.divider {
    color: #ddd;
    margin: 0 8px;
    transition: all 0.3s;
}
.link-divider:hover .divider {
    color: #666;
    transform: rotate(360deg);
}